{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type='text/css' href='{% static "BeaConnect/css/call_volunteer_styling.css" %}'>
        <title>BeaConnect</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
    {% include 'BeaConnect/navbar.html' %}
        <div class="welcomediv">
            <p id="welcome">Call a volunteer for help, or a talk over tea and snacks!</p>
        </div>
        <div class="box">
            <div class="fitem1">
                <p class="heading">
                    Recent:
                </p>
                <div class="recent">
                    Walk my dog
                </div>
                <div class="recent">
                    Read to me
                </div>
                <div class="recent">
                    Share a meal
                </div>
            </div>
            <div class="fitem2">
                <p class="heading">
                    Suggested:
                </p>
                <div class="suggested">
                    Get groceries
                </div>
                <div class="suggested">
                    Get medicine
                </div>
                <div class="suggested">
                    A walk
                </div>
                <div class="suggested">
                    Casual interaction
                </div>
            </div>
            <div class="fitem3">
                <p class="heading">
                    Enter your request:
                </p>
                <div>
                    <textarea rows="4" cols="40" name="request" id="user_request" placeholder="Enter your request here"></textarea>
                    <input type="button" name="submit" onclick="insert_request()" id="submit" value="Submit"/>
                </div>
                <button id="cancel" onclick="cancelRequest()">Cancel</button>
            </div>
        </div>
        <script src="{% static 'BeaConnect/js/call_volunteer_code.js' %}"></script>
        <script type="text/javascript">
            const ta = document.getElementById("user_request");
            const arr_stuff = [...document.querySelectorAll(".suggested,.recent")];
            arr_stuff.forEach(elem=>{
            elem.addEventListener("click", function(){
                ta.value = elem.innerHTML.trim();
            })})


            function insert_request() {
                const user_req = document.getElementById("user_request").value;
                fetch('submit_request', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    body: JSON.stringify({'req_content':user_req, 'category':'None'})
                })
                    .then((response) => {
                        if (!response.ok){
                            alert("Something really weird happened.")
                        } else if (response.redirected){
                            window.location.href=response.url;
                        }
                    })
            }
        </script>
    </body>
</html>