{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type='text/css' href='{% static "BeaConnect/css/elderly_details.css" %}'>
        <title>BeaConnect</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
    {% include 'BeaConnect/navbar.html' %}
        <div class="parent">
            <div class="left">
                <img id="eld_photo" src="{% static pfp %}" height="150" alt="Volunteer Photo"/>
                <br/>
                <span id="displayname">{{ name }}</span>
                <p id="about"><b>About:</b>{{ bio }}</p>
            </div>
            <div class="right">
                <div class="requestdiv">
                    <p id="reqtitle">Request: </p>
                    <p id="request">{{ req_content }}</p>
                </div>
                <div id="address">
                    <p id="awaitingpara"><span id="name">{{ name }}</span> awaits you at:</p>
                    <p id="location">House 92/11, Vikas Nagar</p>
                </div>
                <button id="call">Call</button>
                <button id="completed" onclick="window.location.href='../volunteer_home'">Completed</button>
            </div>
        </div>
    </body>
</html>
