{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <img src="{% static 'BeaConnect/media/beaconnect_temp_logo.png' %}"
             onclick="window.location.href = 'https://meta4beaconnect-production.up.railway.app/beaconnect/volunteer_home'"
             style="cursor:pointer" height="80" alt="BeaConnect"/>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <div class="navitem">
                        <img class="img" src="{% static 'BeaConnect/media/history.png' %}" height="30" alt="History"/>
                        <p class="navpar">History</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <div class="navitem">
                        <img class="img" src="{% static 'BeaConnect/media/messages.png' %}" height="25" alt="Messages"/>
                        <p class="navpar">Messages</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <div class="navitem">
                        <img class="img" src="{% static 'BeaConnect/media/profile.png' %}" height="30" alt="Profile"/>
                        <p class="navpar">My Profile</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>
