<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type='text/css' href='../../static/BeaConnect/css/volunteer_details.css'>
        <title>BeaConnect</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <img src="../../media/beaconnect_temp_logo.png" height="80" alt="BeaConnect"/>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="navitem">
                            <img class="img" src="../../media/history.png" height="30" alt="History"/>
                            <p class="navpar">History</p>
                        </div>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="navitem">
                            <img class="img" src="../../media/messages.png" height="25" alt="Messages"/>
                            <p class="navpar">Messages</p>
                        </div>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="navitem">
                            <img class="img" src="../../media/profile.png" height="30" alt="Profile"/>
                            <p class="navpar">My Profile</p>
                        </div>
                    </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="welcomediv">
            <p id="welcome"><span id="vol_name">Rajesh Gupta</span> has accepted your request!</p>
        </div>
        <div class="box">
            <div class="fitem1">
                <img id="vol_photo" src="../../media/rajesh.png" height="150" alt="Volunteer Photo"/>
                <br/>
                <img id="stars" src="../../media/stars.png" height="30" alt="Rating"/>
                <br/>
                <span id="name">Rajesh Gupta</span>
                <p id="about"><b>About:</b> I've spent my whole<br> life in my room. Now I want<br> to see the world.</p>
            </div>
            <div class="fitem2">
                <img id="map" src="../../media/map.png" height="360" alt="Map"/>  
                <button id="track">Track</button>              
            </div>
            <div class="fitem3">
                <p id="data"> Rajesh will be with you in: </p>
                <div id="outercircle">
                    <div id="innercircle">
                        <span id="time">5</span> <br>
                        <span id="minutes"> minutes </span>
                    </div>
                </div>
                <button id="call">Call</button>
                <br>
                <button id="feedback">Feedback</button>
            </div>
        </div>
    </body>
</html>